:root {
 --primary-color: #212121;
 --secondary-color: #757575;
 --thirdy-color: #fff;
 --hover-link-color: #2196f3;
 --logo-color: #2196f3;
 --gray: #2f303a;
 --light-gray: #ececec;
 --border-portfolio: #eeeeee;
 --btn-background: #f5f4fa;
 --primary-font-size: 14px;
 --secondary-font-size: 16px;
}

body {
 font-family: "Roboto", sans-serif;
 color: var(--primary-color);
 letter-spacing: 0.03em;
 font-size: var(--primary-font-size); /* fixed */
}

/* ------------------------------ */
/* ==== Utils and clear css ======*/
/* ------------------------------ */

address {
 font-style: normal; /* fixed */
}

img {
 display: block;
 max-width: 100%;
 height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
 margin: 0px;
 padding: 0px;
}

ul,
ol {
 list-style-type: none;
}

a {
 text-decoration: none;
}

.container {
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}

.section {
 padding: 94px 0px;
}

/* Hidden element. Example h1-h6 */
.hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;

 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.is-active {
 position: relative;
}

/* .is-active::after {
 position: absolute;
 content: "";
 width: 100%;
 height: 4px;
 bottom: 0;
 left: 0;
 border-radius: 2px;
 background-color: var(--hover-link-color);
} */

/* ------------------------------ */
/* =========== Header ============*/
/* ------------------------------ */

.header .container {
 display: flex;
 align-items: center;
}

.header-navigation {
 display: flex;
 align-items: center;
}

.logo {
 margin-right: 93px;
 text-decoration: none;
 color: var(--primary-color);
 font-weight: 700;
 font-family: "Raleway";
 font-size: 26px;
 line-height: 1.19;
}

.logo-color {
 color: var(--logo-color);
}

.header-navigation-list {
 display: flex;
 padding-left: 0px;
}

.header-list-item:not(:last-child) {
 margin-right: 50px;
}

.link-navigation {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;

 color: var(--primary-color);
 font-weight: 500;

 line-height: 1.14;
 letter-spacing: 0.02em;
}

.link-navigation:focus,
.link-navigation:hover {
 color: var(--hover-link-color);
}

.header-contacts {
 display: flex;
 margin-left: auto;
 align-items: center;
}

.contacts-list:not(:last-child) {
 margin-right: 50px;
}

.link-contacts {
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 32px;
 padding-bottom: 32px;
 color: var(--secondary-color);
 font-weight: 500;

 line-height: 1.14;
 letter-spacing: 0.02em;
}

.link-contacts:hover,
.link-contacts:focus {
 color: var(--hover-link-color);
}

.header-icon {
 margin-right: 10px;
 fill: currentColor;
}

.header.border {
 border-bottom: 1px solid var(--light-gray);
}

.link-navigation.is-active {
 color: var(--hover-link-color);
}

/* ------------------------------ */
/* ======== Order service= =======*/
/* ------------------------------ */

.order {
 /* position: relative; */
 padding-top: 200px;
 padding-bottom: 200px;
 background-color: var(--gray);
 text-align: center;
}

.overlay {
 max-width: 1600px;
 height: 600px;
 margin-left: auto;
 margin-right: auto;

 background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-img.jpg);

 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.order-title {
 width: 696px;
 margin: 0 auto;
 margin-bottom: 30px;

 color: var(--thirdy-color);
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}

.order-btn {
 margin: 0 auto;
 padding: 10px 32px;
 min-width: 216px;

 font-family: inherit;
 font-weight: 700;
 font-size: var(--secondary-font-size);
 line-height: 1.88;

 color: var(--thirdy-color);
 letter-spacing: 0.06em;
 background: var(--hover-link-color);
 border: 0;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
 border-radius: 4px;
 cursor: pointer;
}

/* .modal-window {
 position: absolute;
 width: 100%;
 height: 150%;

 top: 0;
 right: 0;
 background-color: aqua;
 opacity: 0.5;
}

.window {
 width: 528px;
 height: 581px;
 background-color: var(--thirdy-color);
 opacity: 1;
} */

/* ------------------------------ */
/* ========== Benefits ===========*/
/* ------------------------------ */

.benefits-list {
 display: flex;
}

.benefits-icon-box {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 30px;
 padding: 25px 100px;
 background-color: #f5f4fa;
}

.benefits-icon {
 fill: currentColor;
 color: #2196f3;
}

.benefits-item:not(:last-child) {
 margin-right: 30px;
}

.benefits-subtitle {
 margin-bottom: 10px;
 font-size: 14px;
 font-weight: 700;

 line-height: 1.14;
 text-transform: uppercase;
}

.benefits-text {
 line-height: 1.71;
 color: var(--secondary-color);
}

/* ------------------------------ */
/* ====== What are we doing ======*/
/* ------------------------------ */

.doit {
 padding-top: 0px;
}

.doit-subtitle,
.team-subtitle {
 text-align: center;
 margin-bottom: 50px;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
}

.doit-item:not(:last-child),
.team-item:not(:last-child) {
 margin-right: 30px;
}

.doit-list,
.team-list {
 display: flex;
}

/* .doit-item {
 position: relative;
}

.doit-overlay {
 position: absolute;
 right: 0;
 top: 0;
 left: 0;
 bottom: 0; 
 width: 100%;
 height: 100%;
 background-color: red;
} */

/* ------------------------------ */
/* ========== Our Team ===========*/
/* ------------------------------ */

.team-item {
 text-align: center;
 border-radius: 4px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

 background-color: var(--thirdy-color);
}

.team-text {
 padding: 30px 0;
}

.team {
 background-color: #f5f4fa;
}

.team-name {
 margin-bottom: 10px;
 font-weight: 500;
 font-size: var(--secondary-font-size);
 line-height: 1.19;
}

.team-profession {
 margin-bottom: 16px;
 font-size: var(--secondary-font-size);
 line-height: 1.19;
 color: var(--secondary-color);
}

.team-social-iconbox {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.team-social-link {
 display: flex;
 justify-content: center;
 align-items: center;
 /* margin-right: 10px; */
 width: 44px;
 height: 44px;
 border-radius: 50px;
 color: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
 color: var(--thirdy-color);
 background-color: #2196f3;
}

.team-social-icon > .social-logo {
 fill: currentColor;
}

/* ------------------------------ */
/* ======== Our clients  =========*/
/* ------------------------------ */
.clients-subtitle {
 margin-bottom: 50px;
 text-align: center;

 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
}

.clients-list {
 display: flex;
}

.clients-link {
 display: flex;
 width: 170px;
 height: 92px;
 justify-content: center;
 align-items: center;
 color: #afb1b8;
 border: 1px solid currentColor;
 border-radius: 4px;
}

.clients-item:not(:last-child) {
 margin-right: 30px;
}

.clients-logo {
 fill: currentColor;
}

.clients-link:focus,
.clients-link:hover {
 color: #2196f3;
}

/* ------------------------------ */
/* ============ Footer ===========*/
/* ------------------------------ */

.footer {
 background-color: var(--gray);
 padding: 60px 0;
}

.footer-box-main {
 display: flex;
 align-items: baseline;
}

.footer-box-left {
 margin-right: 70px;
}

.footer .logo {
 color: var(--thirdy-color);
}

.footer-list:not(:last-child) {
 margin-bottom: 9px;
}

.footer-address {
 margin-top: 20px;
}

.footer-map {
 color: var(--thirdy-color);
 line-height: 1.71;
}

.footer-link {
 color: var(--secondary-color);
 line-height: 1.71;
}

.footer-map:focus,
.footer-map:hover,
.footer-link:focus,
.footer-link:hover {
 color: var(--hover-link-color);
}

/* ------------------------------ */
/* ======= Footer social icon ====*/
/* ------------------------------ */

.footer-social {
 display: flex;
}

.social-title {
 margin-bottom: 20px;
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;

 color: var(--thirdy-color);

 text-transform: uppercase;
}

.social-link {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 width: 44px;
 height: 44px;
 color: var(--thirdy-color);
 border-radius: 50px;
 background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
 background-color: #2196f3;
}

.social-logo {
 fill: currentColor;
}

/* ------------------------------ */
/* ======= Portfolio Style =======*/
/* ------------------------------ */

.filter-list {
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}
.filter-item:not(:last-child) {
 margin-right: 8px;
}
.filter-btn {
 display: block;
 padding: 6px 22px;

 font-family: inherit;
 font-weight: 500;
 font-size: var(--secondary-font-size);
 line-height: 1.63;
 letter-spacing: 0.03em; /* fixed */

 color: var(--primary-color);
 background: var(--btn-background);
 border-width: 0;
 border-radius: 4px;
 cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
 background-color: var(--hover-link-color);
 color: var(--thirdy-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
 display: flex;
 flex-wrap: wrap;
}

.portfolio-item {
 flex-basis: calc((100% - 60px) / 3);
 margin-right: 30px;
 margin-bottom: 30px;
}

.border-portfolio {
 border-bottom: 1px solid var(--border-portfolio);
 border-left: 1px solid var(--border-portfolio);
 border-right: 1px solid var(--border-portfolio);
 padding: 20px 24px;
}

.portfolio-item:nth-child(3n) {
 margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
 margin-bottom: 0px;
}

.portfolio-title {
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
 color: var(--primary-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
 display: block;
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
 margin-top: 4px;

 font-size: var(--secondary-font-size);
 line-height: 1.88;
 color: var(--secondary-color);
}

/* Стилі нижче були зроблені щоб попрактикуватись */

/* Змінюємо синій на чорний в header*/

.header-navigation > .logo:hover .logo-color {
 color: var(--primary-color);
}

/* Змінюємо чорний в header, білий в footer на синій   */
.logo:hover {
 color: var(--logo-color);
}

/* Змінюємо синій на білий footer */

.footer .logo:hover > .logo-color {
 color: var(--btn-background);
}
